# Node modules directory
node_modules/

# Python bytecode files
__pycache__/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Environment variable file
.env

# Docker files
.dockerignore

# Optional: Ignore any operating system-specific files
.DS_Store        # macOS
Thumbs.db        # Windows
